body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

img{
    display: block;
}

a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}

span{
    color: #2e2f42;
}

.header{
    border-bottom: 1px solid #e7e9fc;
}

.conteiner{
    display: flex;
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigator{
    display: flex;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #4d5ae5;
    text-transform: uppercase;
}

.nav{
    font-size: 16px;
    font-weight: 500;
    color: #2e2f42;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav:hover{
    color: #404bbf;
}

.nav:focus {
    color: #404bbf;
}

.address{
    font-style: normal;
}

.contacts{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contacts:hover{
    color: #404bbf;
}

.contacts:focus {
    color: #404bbf;
}

.title{
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.button:hover{
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.section-title{
    background-color: #2e2f42;
}

.advantages{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.advantages-info{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team{
    background-color: #f4f4fd;
    text-align: center;
}

h2{
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.team-members{
    background-color: #fff;

}

.team-members-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.team-members-info{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-title{
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}

.portfolio-subtitle{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo{
    color: #f4f4fd;
}

.footer-text{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer{
    background-color: #2e2f42;
}